@page
@model Dreamers.Ui.Pages.About_usModel
@{
}


<div class="pages-hero" style="background-image:url(/photos/banners/excursions.jpg" )">
    <div class="container">
        <div class="pages-title">
            <h1>About us</h1>
            @*<p class="text-white" style="width:70%">banner description banner description banner description banner description banner description banner description banner description banner description banner description </p>*@
            <div class="page-nav">
                <p><a href="/">Home</a> &nbsp; | &nbsp; About us</p>
            </div>
        </div>
    </div>
    <div class="social-media">
        <ul>
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
        </ul>
    </div>
</div>

<!-- CONTENT START -->
<section>
    <div class="multicolor-layer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-layer">
                        <h2>Memories Made Together Last a Lifetime</h2>
                        <p>
                            <strong>
                                Growing community by inspiring healthy is our commitment with farmers, the abundant
                                living on the field.
                            </strong>
                        </p>
                        <p>
                            Your satisfaction with your experience that your recommendation. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                        </p>
                        <br>
                        <div class="media">
                            <img src="images/icons/premium-quality.png" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Satisfaction Guarantee </h5>
                                <p>Despite the variety of fish you could catch, no fish is more desirable than the bluefin tuna.</p>
                            </div>
                        </div>
                        <div class="media">
                            <img src="images/icons/support.png" class="mr-3" alt="...">
                            <div class="media-body">
                                <h5 class="mt-0">Online Support</h5>
                                <p>Some anglers have even battled to reel in bluefin tuna weighing trips travel a maximum.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 spacing-md">
                    <figure class="about-img-layer">
                        <img src="https://via.placeholder.com//992x992" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5">
        <div class="section-title">
            <h2>Our Team</h2>
            <p>We have a team of professionals, dedicated to providing excellent service to ensure the enjoyment of your vacation.</p>
        </div>
        <div class="team-carousel">
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <figure class="team-portrait">
                        <img src="https://via.placeholder.com//992x1300" alt="">
                        <div class="team-caption">
                            <h4>Ricardo Anje</h4>
                            <p>Tour Oparator</p>
                            <ul class="tc-social d-flex justify-content-center">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </figure>
                </div>
                <div class="item">
                    <figure class="team-portrait">
                        <img src="https://via.placeholder.com//992x1300" alt="">
                        <div class="team-caption">
                            <h4>Lorena Smith</h4>
                            <p>Vacation Coordinator</p>
                            <ul class="tc-social d-flex justify-content-center">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </figure>
                </div>
                <div class="item">
                    <figure class="team-portrait">
                        <img src="https://via.placeholder.com//992x1300" alt="">
                        <div class="team-caption">
                            <h4>Julia Jones</h4>
                            <p>Marketing</p>
                            <ul class="tc-social d-flex justify-content-center">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </figure>
                </div>
                <div class="item">
                    <figure class="team-portrait">
                        <img src="https://via.placeholder.com//992x1300" alt="">
                        <div class="team-caption">
                            <h4>Carlos Cimino</h4>
                            <p>Marketing</p>
                            <ul class="tc-social d-flex justify-content-center">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- TESTIMONIALS START -->
    <div class="testimonials-layer mt-5 mb-5">
        <div class="container">
            <div class="testimonial-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Best tour agency, excellent vacations</h2>
                            <p class="customer-opinion">
                                My testimonial is from a customer or client. They may be an unknown person to the reader, you need
                                to be sure there isn't anything embarrassing hidden in the middle of text.
                            </p>
                            <figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>
                            <div class="t-caption">
                                <h4>Martha Smith</h4>
                                <p class="profession">
                                    Web Designer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Enjoy my vacations, really fun great agency</h2>
                            <p class="customer-opinion">
                                Start with your super fans. These are your happiest clients and customers. They may have
                                already offered to be a reference so they won’t mind the request.
                            </p>
                            <figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>
                            <div class="t-caption">
                                <h4>Matt Cimino</h4>
                                <p class="profession">
                                    Architect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Wonderfull tour agancy, loved my vacations</h2>
                            <p class="customer-opinion">
                                An endorsement is typically a well-known influencer giving their public support for a brand.
                                But a testimonial is from a customer or client. They may be an unknown person to the reader.
                            </p>
                            <figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>
                            <div class="t-caption">
                                <h4>Laura Jones</h4>
                                <p class="profession">
                                    Graphic Designer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Fully recommendation for this agency</h2>
                            <p class="customer-opinion">
                                Pleasures have to be repudiated and annoyances accepted. The wise man therefore
                                always holds in these matters to this principle of selection.
                            </p>
                            <figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>
                            <div class="t-caption">
                                <h4>Jim Thomas</h4>
                                <p class="profession">
                                    Senior Lawyer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIALS END -->
    <!-- BLOG NEWS START  -->
    <div class="container mt-5 mb-5">
        <div class="section-title">
            <h2>Our Blogs</h2>
            <p>We keep you informed of the latest news from the vacation world, subscribe to our blog and find out everything.</p>
        </div>
        <div class="row">
            <div class="col-lg-5">
                <div class="blog-leftside">
                    <div class="media" data-aos="fade-up">
                        <figure class="bp-thumb">
                            <a href="blog-single.html"><img src="https://via.placeholder.com//800x800" class="mr-3" alt="..."></a>
                            <div class="date-layer">
                                <h4>JUN</h4>
                                <p>23</p>
                            </div>
                        </figure>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">The Best Helicopter Tours</a></h5>
                            <p>We love to see you live an exciting, unique and unforgettable experience.</p>
                            <h6><a href="#">Read more</a></h6>
                        </div>
                    </div>
                    <div class="media center-box" data-aos="fade-up">
                        <figure class="bp-thumb">
                            <a href="blog-single.html"><img src="https://via.placeholder.com//800x800" class="mr-3" alt="..."></a>
                            <div class="date-layer">
                                <h4>JUN</h4>
                                <p>21</p>
                            </div>
                        </figure>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">Best Romantic Getaways</a></h5>
                            <p>Your satisfaction with your experience that your recommendation.</p>
                            <h6><a href="#">Read more</a></h6>
                        </div>
                    </div>
                    <div class="media" data-aos="fade-up">
                        <figure class="bp-thumb">
                            <a href="blog-single.html"><img src="https://via.placeholder.com//800x800" class="mr-3" alt="..."></a>
                            <div class="date-layer">
                                <h4>JUN</h4>
                                <p>20</p>
                            </div>
                        </figure>
                        <div class="media-body">
                            <h5 class="mt-0"><a href="#">The Cruise Line Rankings</a></h5>
                            <p>The group of highly trained certified personnel for each attraction.</p>
                            <h6><a href="#">Read more</a></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 spacing-md" data-aos="fade-left">
                <figure class="blog-rightside">
                    <a href="blog-single.html"><img src="https://via.placeholder.com//992x550" class="mr-3" alt="..."></a>
                    <div class="date-layer">
                        <h4>JUN</h4>
                        <p>24</p>
                    </div>
                </figure>
                <div class="blog-caption">
                    <h5 class="mt-0"><a href="#">World's Most Expensive Private Island Opens</a></h5>
                    <p>
                        Private Island is located on the Palawan archipelago in the Philippines, two hours from Manila,
                        and will offer visitors 15 acres of private land, where they can partake in tennis.
                    </p>
                    <h6><a href="#">Read more</a></h6>
                </div>
            </div>
        </div>
    </div>
    <!-- BLOG NEWS END  -->
</section>
<!-- CONTENT END -->
