@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!--SLIDER START-->
<div class="home-slider">
    <!-- partial:index.partial.html -->
    <div class="hero-slider" data-carousel>
        @for (var i = 1; i < 5; i++)
        {
            <div class="carousel-cell" style="background-image:url('/images/bg/@(i).jpg');">
                <div class="overlay"></div>
                <div class="container slider-caption">
                    <h5 class="subtitle">Explore the World</h5>
                    <h1>A more rewarding <br> way to travel</h1>
                </div>
                <div class="social-media">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <!-- partial -->
</div>

<!-- FRONT BOX START -->
<div class="container">
    <div class="hero-box">
        <div class="row no-gutters">
            <div class="col-md-6 col-xl-3">
                <div class="front-box">
                    <figure class="fb-icon">
                        <img src="images/icons/scuba-diving.png" alt="">
                    </figure>
                    <h4>Scuba Diving</h4>
                    <p>drenaline-pumping excursions for the experienced.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="front-box">
                    <figure class="fb-icon">
                        <img src="images/icons/atv.png" alt="">
                    </figure>
                    <h4>ATV</h4>
                    <p>Start your engines and get ready for an adventure</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="front-box">
                    <figure class="fb-icon">
                        <img src="images/icons/paragliding.png" alt="">
                    </figure>
                    <h4>Paragliding</h4>
                    <p>Wild landscapes and rough rivers and you will rafting.</p>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="front-box">
                    <figure class="fb-icon">
                        <img src="images/icons/bicycle.png" alt="">
                    </figure>
                    <h4>Cycling</h4>
                    <p>Thrilling off-road experience public roads maximum security.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FRONT BOX END -->
<!-- CONTENT START -->
<section>

    <!-- DESTINATIONS START -->
    <div class="container mt-5 mb-5">
        <div class="section-title">
            <h2>Main Destinations</h2>
            <p>Search our website for the best destinations in the world, where you can enjoy the best vacations.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <a href="#." data-aos="fade-up">
                    <figure class="destination-box">
                        <img src="/images/destinations/dest1.jpg" alt="" />
                        <figcaption>
                            <h4>Hurghada</h4>
                            <ul>
                                <li class="rating-number">8.9</li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <blockquote>
                                <p>Company imposes its own age requirements.</p>
                            </blockquote>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#." data-aos="fade-up">
                    <figure class="destination-box">
                        <img src="/images/destinations/dest2.jpg" alt="" />
                        <figcaption>
                            <h4>Cairo</h4>
                            <ul>
                                <li class="rating-number">9.5</li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <blockquote>
                                <p>They have a great time and call guides.</p>
                            </blockquote>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="col-md-6 col-lg-4">
                <a href="#." data-aos="fade-up">
                    <figure class="destination-box">
                        <img src="/images/destinations/dest3.jpg" alt="" />
                        <figcaption>
                            <h4>Luxor</h4>
                            <ul>
                                <li class="rating-number">8.9</li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star-half-alt"></i></li>
                            </ul>
                            <blockquote>
                                <p>Which is worse, that everyone has his price.</p>
                            </blockquote>
                        </figcaption>
                    </figure>
                </a>
            </div>

        </div>
    </div>
    <!-- DESTINATIONS END -->
    <!-- TESTIMONIALS START -->
    <div class="testimonials-layer mt-5 mb-5">
        <div class="container">
            <div class="testimonial-carousel">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Best tour agency, excellent vacations</h2>
                            <p class="customer-opinion">
                                My testimonial is from a customer or client. They may be an unknown person to the reader, you need
                                to be sure there isn't anything embarrassing hidden in the middle of text.
                            </p>
                            @*<figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>*@
                            <div class="t-caption">
                                <h4>Martha Smith</h4>
                                <p class="profession">
                                    Web Designer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Enjoy my vacations, really fun great agency</h2>
                            <p class="customer-opinion">
                                Start with your super fans. These are your happiest clients and customers. They may have
                                already offered to be a reference so they won’t mind the request.
                            </p>
                            @*<figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>*@
                            <div class="t-caption">
                                <h4>Matt Cimino</h4>
                                <p class="profession">
                                    Architect
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Wonderfull tour agancy, loved my vacations</h2>
                            <p class="customer-opinion">
                                An endorsement is typically a well-known influencer giving their public support for a brand.
                                But a testimonial is from a customer or client. They may be an unknown person to the reader.
                            </p>
                            @*<figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>*@
                            <div class="t-caption">
                                <h4>Laura Jones</h4>
                                <p class="profession">
                                    Graphic Designer
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-card">
                            <div class="quote-icon">
                                <i class="fas fa-quote-left"></i>
                            </div>
                            <h2>Fully recommendation for this agency</h2>
                            <p class="customer-opinion">
                                Pleasures have to be repudiated and annoyances accepted. The wise man therefore
                                always holds in these matters to this principle of selection.
                            </p>
                            <figure class="client-avatar">
                                <img src="https://via.placeholder.com//600x600" alt="">
                            </figure>
                            <div class="t-caption">
                                <h4>Jim Thomas</h4>
                                <p class="profession">
                                    Senior Lawyer
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- TESTIMONIALS END -->
    <!-- POPULAR ACTIVITIES START -->
    <div class="container mt-5 mb-5">
        <div class="section-title">
            <h2>Popular Activities</h2>
            <p>We offer you the most exciting activities so you can have the most unforgettable vacations.</p>
        </div>
        <div class="activities-carousel">
            <div class="owl-carousel owl-theme image-hover">
                @foreach(var excursion in Model.Excursions)
                {
                <div class="item">
                        <a href="/excursions/@excursion.Name">
                        <figure class="activitie-thumb zoom-in">
                                <img src="@excursion.MainPhotoPath" alt="@excursion.Title">
                            <div class="price-layer rounded-pill">
                                <div class="price-box">
                                    <h4>$ @excursion.Price</h4>
                                </div>
                            </div>
                            <div class="activitie-info">
                                <h4>Yacth Excursion</h4>
                                <div class="media">
                                    <h3 class="mt-0">9.5</h3>
                                    <div class="media-body">
                                        <ul class="activity-rating">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star-half-alt"></i></li>
                                        </ul>
                                        <p class="rating-count">398 Ratings</p>
                                    </div>
                                </div>
                                <p>@Html.Raw(excursion.Introduction)</p>
                            </div>
                        </figure>
                    </a>
                </div>
                }
            </div>
        </div>
    </div>
    <!-- POPULAR ACTIVITIES END -->
    <!-- VIDEO LAYER START -->
    <div class="container video-content mt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-layer">
                    <h3>Video Tour</h3>
                    <p>Adventure is out there</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-layer">
                    <p>
                        We offer our clients the most complete and unique open air adventure thrills
                        they have <strong>ever experienced complete with unforgettable moments</strong>. Your safety is
                        our most important mission and for this reason.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="video-parallax mb-5" style='background-image:url("https://i.ytimg.com/vi/b1-8FOs4UIk/maxresdefault.jpg")'>
        <a class="popup-youtube d-flex justify-content-center" href="https://www.youtube.com/watch?v=b1-8FOs4UIk">
            <div class="pulse"><i class="fas fa-play"></i></div>
        </a>
    </div>
    <!-- VIDEO LAYER END -->

</section>
<!-- CONTENT END -->